*{
    margin: 0;
    border: border-box;
    font-family: Arial;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 105px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url(amazon_logo.png);
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* .nav-address{
    margin-top: 8px;
} */
 
/* box2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin: 3px;

}
.add-icon{
    display: flex;
}

/* box3 */
.searchbar{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    height: 45px;
    border:2px solid black;
}
.select{
    width: 45px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #f3f3f3;
    border: none;
}
.search{
    width: 100%;
    font-size: 1.2rem;
    border: none;
}
.search-icon{
    background-color: #febd68;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    color: #0f1111;
}
.backselect:hover{
    background-color: aliceblue;
}
.backicon:hover{
    background-color: #e0a14f;
}
.searchbar:hover{
    border:2px solid #febd68;
}

/* box4 */
.language{
    display: flex;
    justify-content: space-evenly;
}
.icon{
    margin-left: 1px;
}

/* box5 */
span{
    font-size: 0.75rem;
}
.sign-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


                                                        /* PANEL */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    /* font-size: 0.85rem; */
}
.panel-deals{
    /* font-size: 0.9rem; */
    font-weight: 700;
}
/* 
                                                      HERO-SECTION */
.hero-section{
    height: 400px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}

                                                 /* SHOP SECTION */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}

.box{
    border:none;
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    background-color: white;
    margin-top: 15px;

}

.box-img{
    background-size: cover;
    height:300px ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content{
    margin-left: 10px;
    margin-right: 10px;
}
.content p{
    color:#007185 ;
}

                                                   /* FOOTER */
/* Panel1 */
footer{
    margin-top: 15px;
}
.footer-panel1{
    background-color: #37475a;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}
.footer-panel2{
    background-color: #222f3d;
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
p{
    margin-left: 5px;
}
ul a{
    color: #dddddd;
    display: block;
    text-decoration: none;
    margin: 10px;
    font-size: 0.85rem;
}

/* panel4 */
.footer-panel4{
    background-color: #222f3d;
    height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* panel5 */
.footer-panel5{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.9rem;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
.page{
    margin-top: 10px;
}
.copyright{
    padding-top: 10px;

}